@font-face {
    font-family: 'DaMiOne';
    src: url('../resources/fonts/DaMiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bicubik';
    src: url('../resources/fonts/Bicubik.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('../resources/fonts/TildaSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #E3E7D3;
}

#menu {
    width: 100%;
    height: 6.5vh;
    line-height: 6.5vh;
    background-color: #D2B48C;
    position: fixed;
    z-index: 2;
}

#logo {
    width: 84px;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-left: 25px;
}

#logo img {
    width: 84px;
    height: auto;
}

#logo img:hover {
    cursor: pointer;
}

#tabs {
    display: flex;
    justify-content: space-evenly;
}

#tabs a {
    width: 250px;
    height: 6.5vh;
    background-color: #D2B48C;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s ease;
}

#tabs a:hover {
    background-color: #B19877;
    cursor: pointer;
}

#tabs a span p {
    color: white;
    font-family: "DaMiOne", sans-serif;
    font-size: 28px;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#tabs a span p:hover {
    color: #D3F51C;
}

#tabs a span #currentTab {
    color: #D3F51C;
}

#welcome {
    width: 100%;
}

#background {
    width: 100%;
    height: 93.5vh;
    padding-top: 6.5vh;
    overflow: hidden;
    position: relative;
}

#background img {
    width: 100%;
    height: auto;
    animation: showupImage 1s forwards;
    position: absolute;
    z-index: 0;
}

#title, #description {
    color: #D3F51C;
    font-family: "Bicubik", sans-serif;
    font-size: 125px;
    margin: 0;
    padding-top: 100px;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: showupText 1s forwards;
    animation-delay: 1s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#description {
    color: white;
    font-size: 65px;
    top: 52.5%;
    font-family: "Bicubik", sans-serif;
}

@keyframes showupImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showupText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        left: 50%;
    }
}

#contents {
    height: auto;
    background-color: #E3E7D3;
}

.infoContainer {
    text-align: center;
    padding-bottom: 250px;
}

.infoTitle {
    color: #D3F51C;
    font-family: "Bicubik", sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 96px;
}

.infoDescription, #cities, #email {
    color: white;
    font-family: "Bicubik", sans-serif;
    font-size: 48px;
    margin-top: -15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#cities {
    font-size: 60px;
    color: #1CF5DC;
}

#email {
    font-size: 60px;
    color: #f5cd1c;
}

#copyright {
    height: 400px;
    background-color: #454545;
}

#copyright table {
    width: 100%;
    padding-top: 25px;
    align-self: center;
}

#copyright table tr {
    text-align: center;
}

#copyright table tr th {
    width: 33.3vh;
}

.copyrightTitles {
    height: 75px;
    color: #D3F51C;
    font-weight: normal;
    font-size: 36px;
    font-family: "TildaSans", sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#copyright table tr td {
    color: white;
    font-size: 18px;
}

#copyright table tr td p {
    font-size: 20px;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#socials {
    text-align: center;
    vertical-align: middle;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    margin: 0 auto;
}

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}
  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
